*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --clr-chambray: #355A85;
    --clr-mirage: #192532;
    --clr-edward: #A9ADAC;
    --clr-roman-coffee: #79604F;
    --clr-iron: #D3D8D7;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.7;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(#ff0000, #0900ff);;
    background-position: center;
    background-size: cover;
    perspective: 500px;
}

.container{
    perspective: 1200px;
}

.profile-body {
    font-style: italic;
    font-weight: 100;
    margin-bottom: 0;
}

.profile-name {
    font-size: 2rem;
    letter-spacing: 2px;
}

.profile-name::after {
    content: "";
    display: block;
    height: 2px;
    width: 5em;
    background: var(--clr-iron);
    margin: 0.5em auto;
    opacity: 0.4;
}

.profile-occupation {
    font-size:  1rem;
    letter-spacing: 2px;
    color: var(--clr-iron);
    margin-bottom: 2em;
}

.card {
    transform-style: preserve-3d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background: var(--clr-chambray);
    color: var(--clr-iron);
    text-align: center;
    padding: 1.4em;
    border-radius: 20px;
    perspective: 3300px;
}

.profile-photo {
    border-radius: 50%;
    border: 3px solid var(--clr-iron);
    max-width: 100%;
    height: 200px;
}

.social-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 120px;
    margin: 0 auto;
    
}

.social-link {
    color: var(--clr-iron);
    opacity: 0.5;
    font-size: 1.5rem;
}

.social-link:hover,
.social-link:focus {
    opacity: 1;
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
        background: linear-gradient(to right, var(--clr-mirage) 40%, var(--clr-chambray) 20%);
    }

    .profile-photo {
        max-width: 200px;
    }

    .profile-info {
        text-align: left;
        margin-left: 2em;
 
    }

    .profile-name::after {
        margin-left: 0;
    }
}